@page "/changepass"
@{
    ViewData["Title"] = "OpenMU - Change Password";
}

<h2 data-i18n="titleChange">Change Password</h2>
<form id="changePassForm">
    <div class="form-group">
        <label data-i18n="login">Login</label>
        <input type="text" name="username" required data-i18n-placeholder="placeholderLogin">
    </div>
    <div class="form-group">
        <label data-i18n="oldPass">Current Password</label>
        <input type="password" name="oldPassword" required data-i18n-placeholder="placeholderPass">
    </div>
    <div class="form-group">
        <label data-i18n="newPass">New Password</label>
        <input type="password" name="newPassword" required minlength="8" maxlength="16"
               data-i18n-placeholder="placeholderPass">
    </div>
    <button type="submit" id="submitBtn">
        <span id="btnText" data-i18n="btnChange">Update Password</span>
        <div id="btnLoader" class="spinner-loader"></div>
    </button>
</form>
<div id="message"></div>

@section FooterNav {
    <a href="/" class="nav-link"><span data-i18n="navHome">Home</span></a>
}

@section Scripts {
    <script src="/js/changepass.js"></script>
}
